<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.therap.javafest.utext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".UTextApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.uText" >
        <uses-library android:name="com.google.android.maps" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".LogInActivity" />
        <activity
            android:name=".AddMultiMediaNoteActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AddListNoteActivity" />
        <activity android:name=".AddReminderActivity" />
        <activity android:name=".ViewMultiMediaNoteActivity" />
        <activity android:name=".ViewReminderActivity" />
        <activity android:name=".ViewListNoteActivity" />
        <activity android:name=".EditMultiMediaNoteActivity" />
        <activity android:name=".EditListNoteActivity" />
        <activity android:name=".EditReminderActivity" />
        <activity android:name=".DatabaseBackUpActivity" />
        <activity android:name=".AddMapActivity" />
        <activity android:name=".UserHomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".BackUpActivity" />
        <activity android:name=".ShowNotification" />
    </application>

</manifest>